# WK1 Pandas Basics <hr style="border :2.5px solid #126782"></hr>

Name: **Pia Mae D. Tolentino** <br>
Course: **CPE2A**

pandas - derived from **Panel Data**

import **pandas** and **numpy** library

In [1]:
import pandas as pd 
import numpy as np

Check the **version** of pandas

Create a **list** named **employee_names**

In [2]:
employee_names = ['Romano', 'Sandra', 'Abby', 'Jude', 'Pia', 'Jethro']
employee_names

['Romano', 'Sandra', 'Abby', 'Jude', 'Pia', 'Jethro']

Verify that the data type of *employee_names* object is a **list**

# Creating Series Object

## List to Series

Create a **list** named **employee_names**

In [3]:
type(employee_names)

list

Create **pandas Series object** named **employee_names_Series** containing the elements from the *employee_names* list

In [4]:
employee_names_Series =pd.Series(employee_names)
employee_names_Series

0    Romano
1    Sandra
2      Abby
3      Jude
4       Pia
5    Jethro
dtype: object

Verify that the data type of *employee_names_Series* object is a **pandas Series**

In [5]:
type(employee_names_Series)

pandas.core.series.Series

Create a Series object named  **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5, 8, 3, and 10

In [6]:
work_experience_years = pd.Series([5, 8, 3, 10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array To Series

Create a **NumPy Array** object named **array_age**

In [13]:
array_age = np.array([52, 51, 30, 20, 19, 15])
array_age

array([52, 51, 30, 20, 19, 15])

Verify that the data type *array_age* object is a **NumPy Array**

In [14]:
type(array_age)

numpy.ndarray

Create a **pandas_Series** object named **series_age** from *array_age*

In [15]:
series_age = pd.Series(array_age)
series_age

0    52
1    51
2    30
3    20
4    19
5    15
dtype: int64

Verify that the data type of *series_age* object is **Series**

In [16]:
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content fo *series_age*

In [17]:
print(series_age)

0    52
1    51
2    30
3    20
4    19
5    15
dtype: int64

Assign letters *a, b, c, and d* as **index** of the Series

Check the **total number of elements** of the *Series*

Check the data type of the **elements** stored in the Series

In [18]:
work_experience_years.dtype

dtype('int64')

Display the name of **series**

# pandas DataFrames